extends layout

block content  
  div(id="root" style="width: 280px; margin: 40px auto; padding: 10px;")

  script.
    var lock = new Auth0Lock('#{env.AUTH0_CLIENT_ID}', '#{env.AUTH0_DOMAIN}', { 
      allowSignUp: false,
      closable: false,
      rememberLastLogin: false,
      auth: {          
          redirectUrl: '#{env.AUTH0_CALLBACK_URL}'
        , responseType: 'code'
        , params: {
            scope: 'openid name email picture'
        }
      },
      theme: {
        logo: 'https://uhac.unionbankph.com/sites/uhac.unionbankph.com/files/logo-ubp.jpg',
        primary_color: 'orange'
      },
      languageDictionary: {
        title: "UnionBank"
      }
    });
    lock.show();

  
